# Phụ thuộc & Gói cài đặt
# Thư mục này chứa hàng trăm megabytes code không cần thiết phải lưu trữ
node_modules/

# Logs
# Các file log được tạo ra trong quá trình chạy, không cần lưu lại
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Biến môi trường
# CỰC KỲ QUAN TRỌNG: KHÔNG BAO GIỜ đưa file .env lên Git.
# File này chứa các thông tin nhạy cảm như mật khẩu database, API keys...
.env



dist/
build/
.out/

# Các file của hệ điều hành
.DS_Store
Thumbs.db
